<h1>Industry</h1>
<p>
  <b>Name:</b>
  <%= @industry.name %>
</p>

<p>
  <b>Color:</b>
  <%= @industry.color %>
</p>


<%= link_to 'Edit', edit_industry_path(@industry) %> |
<%= link_to 'Back', industries_path %>
